.c1{
    background-color:#221d1d;
}
.c2 {
    background-color: #201a21;
}
.c3 {
    background-color: #19001d;
}
@media (max-width: 767px) {
    .desk{
        display: none;
    }
    .para{
        padding-right:25px;
        font-size: 23px;
    }
}
@media (min-width: 768px) {
    .para{
        font-size: 30px;

    }
}

