.c1{
    background-color:rgb(0 0 46);
    color: #d292ff;
}
.c2 {
    background-color: rgb(0, 0, 0);
    /* background-image: url('/public/images/bg.jpg'); */

}
.c3 {
    background-color: #ffffff;
    
}
/* phone */
@media (max-width: 767px) {
    .c1{
        display: none;
    }
    
}
/* desktop */
/* @media (min-width: 768px) {
    .para{
        font-size: 30px;

    }
    .type-writter{
        height: 100%;
    }
} */

